<!DOCTYPE html>
<html lang="en">
<head>
  <title>Entropy</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Entropy</span>
  </nav>
  <main role="main" class="container">
    <div class="jumbotron">
      <%= yield %>
    </div>
  </main>
</body>
</html>
